h1 a {
    color: #FCA205;

    font-variant:small-caps;

    padding-left: 40px;

    text-align: center;
    text-decoration: underline;
}


body {
    padding-left: 14px;

    background: linear-gradient(#c1dff2, #ffec8b);
}

.page-header{
    padding-left: 20px;
}

.header {
    color: #FCA205;

    font-variant:small-caps;

    padding: 15px;

    text-shadow: 2px 2px lightgrey;
    letter-spacing: 2px;
    text-align: center;
}

.information{
    color: #FCA205;
    background-color: #e5e5e5;

    outline-style: double;

    padding: 10px;

    letter-spacing: 2px;
    text-align: center;
}

.description {
    color: #1b499c;
    background-color: lightgrey;

    border-left: 6px solid #1b499c;

    padding: 10px;

    font-size: 13px;
    font-style: italic;
    outline-style: outset;
}

.form {
    padding: 30px;

    font-variant:small-caps;
    font-size:15px;
}

form > p {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:stretch;
}

form label {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
}

.btn {
    letter-spacing: 5px;
}




