{% extends 'base.html' %}

{% block content %}
{% for trashbin in trashbins %}
<div class="header">
    <h2><a href="{% url 'trashbin_detail' pk=trashbin.pk %}">Trashbin №{{forloop.counter}}</a></h2>
</div>
<div class="information">
    <p>Trashbin path: {{ trashbin.trashbin_path  }}</p>
    <p>Trashbin size: {{trashbin.trashbin_size}}</p>
    <p>Trashbin max count elem: {{trashbin.max_count_elem}}</p>
    <button class="btn"><a href="{% url 'delete_trash' pk=trashbin.pk %}">Delete</a></button>
</div>
{% empty %}
    <p style="font-variant:small-caps;">No trashbins</p>
{% endfor %}
{% endblock content %}
