{% extends 'base.html' %}

{% block content %}

<div class="header">
    <h1>Trashbin content: {{ trashbin.trashbin_path}}</h1>
</div>

<div class="information">
    {% if content %}
        {% for elem in content %}
            <p>{{forloop.counter}}) - Name: {{elem}} </p>
        {% endfor %}
    {% else %}
        <p>The trashbin is empty</p>
    {% endif %}
</div>

{% endblock %}
