{% extends 'base.html' %}

{% block content %}
<div class="header">
    <h1>Trashbin creation</h1>
</div>
<form method="POST" class="form">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit" class="btn">
        Save
    </button>
</form>
{% endblock %}
