{% extends 'base.html' %}

{% block content %}
<div class="header">
    <h1>Task creation</h1>
</div>
<div class="description">
    Select an action and trashbin. If you want to remove file, enter the path to it in space named 'Path to file'.
    If you want to restore file, enter it's name in trashbin in space named 'Path to file'.
    If you want to do the regex removal enter path of the place where the removal must happen in space named
    'path to file'. A regex enter in space named 'regex'.
</div>
    <form method="POST" class="form">{% csrf_token %}
	    {{form.as_p}}
	    <button type="submit" class="btn">Do</button>
    </form>
<div class="tasks-history">
    <h1><a href="{% url 'tasks_history' %}">Tasks history</a> </h1>
</div>
{% endblock %}

