{% extends 'base.html' %}

{% block content %}
    {% for task in tasks %}
    <div class="header">
        <h2>Task №{{forloop.counter}}</h2>
	</div>
 	<div class="information">
        <p>Task action: {{ task.action }}</p>
        <p>Trashbin: {{ task.trashbin.trashbin_path }}</p>
        <p>File name: {{ task.file_name}}</p>
        <p>Regex: {{ task.regex }}</p>
    </div>
    {% empty %}
        <p style="font-variant:small-caps;">No tasks</p>
    {% endfor %}
    <button class="btn"><a href="{% url 'clean_history' %}">Clean history</a></button>
{% endblock content %}