{% load staticfiles %}
<head>
    <link rel="stylesheet" href="{% static 'css/stylish.css' %}">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>
<body>
    <div class="page-header">
	    <a style="letter-spacing: 2px;" href="{% url 'trashbin_new' %}" class="top-menu">
            <span class="glyphicon glyphicon-plus"> Create trashbin</span>
        </a>
        <h1>
            <a href="{% url 'trashbin_list' %}">Trashbin manager</a>
            <a href="{% url 'task_list' %}">Tasks</a>
        </h1>
    </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</body>
